We've included 2 solutions here. There are also many other ways of formatting this data. Don't wory if you haven't done it exactly like we have.... this is just guide and not a bible.

In [1]:
import pandas as pd
import requests
from datetime import datetime
import pytz

# Solution using a for loop

First we need to take a look at the JSON so we know what we're dealing with.
- We can view what the JSON contains by checking out the [documentation on the OWM website](https://openweathermap.org/forecast5)
- Or this can be done manually, like below:

In [2]:
city = 'Berlin'
API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'

# check out the docs for more info on making an api call https://openweathermap.org/forecast5
url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")

response = requests.get(url)
json = response.json()

#json

Now we've discovered what information we have to work with. Let's decide what we want to keep and what we wish to lose.

I feel that from json['list'] it would be good to keep
- 'weather.main', 'weather.description', 'dt_txt', 'main.temp', 'main.feels_like' 'clouds.all', 'rain.3h', 'snow.3h' 'wind.speed', 'wind.deg', 'main.humidity', 'main.pressure'. 

And from json['city'] it would be good to keep 
- 'name' and 'country. 

Just to make sure that we got the right place. And as an added extra we'll also include the time that API call was made, so we know how up to date our forecast is.

**Optional:** let's get a timestamp of when we get the data. Datetime uses the uses the current time of the system, which on local computers is normally correct. But as we're in the cloud, computers are not always in our country, and we therefore add on the timezone module to ensure that our timestamp is local to us and not the computer.

In [3]:
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

now

datetime.datetime(2022, 12, 10, 13, 51, 13, 205637, tzinfo=<DstTzInfo 'Europe/Berlin' CET+1:00:00 STD>)

**Next** let's loop through the json['list'] information get the weather information

In [4]:
# we'll store the information in this dicitonary:
weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': []}
                #'information_retrieved_at': []}

# let's begin the loop
for i in json['list']:
  weather_dict['city'].append(json['city']['name'])
  weather_dict['country'].append(json['city']['country'])
  weather_dict['forecast_time'].append(i['dt_txt'])
  weather_dict['outlook'].append(i['weather'][0]['main'])
  weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
  weather_dict['temperature'].append(i['main']['temp'])
  weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
  weather_dict['clouds'].append(i['clouds']['all'])
  # sometimes the data is missing for rain and snow. As it is not always raining or snowing
  # we cannot make a DataFrame unless the lists are all the same length, therefore missing values are bad
  # here we say try to append a value if there is one. If not, append a 0
  try:
      weather_dict['rain'].append(i['rain']['3h'])
  except:
      weather_dict['rain'].append('0')
  try:
      weather_dict['snow'].append(i['snow']['3h'])
  except:
      weather_dict['snow'].append('0')
  weather_dict['wind_speed'].append(i['wind']['speed'])
  weather_dict['wind_deg'].append(i['wind']['deg'])
  weather_dict['humidity'].append(i['main']['humidity'])
  weather_dict['pressure'].append(i['main']['pressure'])
  #weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

**Now** we convert our dictionary to a DataFrame

In [5]:
weather_from_dict_df = pd.DataFrame(weather_dict)

weather_from_dict_df.head()

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure
0,Berlin,DE,2022-12-10 15:00:00,Clouds,overcast clouds,-0.74,-3.17,98,0,0,1.89,31,89,1004
1,Berlin,DE,2022-12-10 18:00:00,Clouds,overcast clouds,-1.38,-4.27,97,0,0,2.16,26,88,1008
2,Berlin,DE,2022-12-10 21:00:00,Clouds,overcast clouds,-2.37,-5.26,89,0,0,2.03,28,88,1012
3,Berlin,DE,2022-12-11 00:00:00,Clouds,overcast clouds,-2.64,-5.65,89,0,0,2.09,24,87,1012
4,Berlin,DE,2022-12-11 03:00:00,Clouds,broken clouds,-3.22,-6.45,83,0,0,2.18,16,86,1012

**As a final step**, to keep everything tidy: let's bring everything we did together in a function. And allow the function to take a list of cities as an input

In [6]:
def get_weather_loop(cities):

  API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'

  tz = pytz.timezone('Europe/Berlin')
  now = datetime.now().astimezone(tz)

  weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': [],
                'information_retrieved_at': []}

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()

    for i in json['list']:
      weather_dict['city'].append(json['city']['name'])
      weather_dict['country'].append(json['city']['country'])
      weather_dict['forecast_time'].append(i['dt_txt'])
      weather_dict['outlook'].append(i['weather'][0]['main'])
      weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
      weather_dict['temperature'].append(i['main']['temp'])
      weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
      weather_dict['clouds'].append(i['clouds']['all'])
      try:
          weather_dict['rain'].append(i['rain']['3h'])
      except:
          weather_dict['rain'].append('0')
      try:
          weather_dict['snow'].append(i['snow']['3h'])
      except:
          weather_dict['snow'].append('0')
      weather_dict['wind_speed'].append(i['wind']['speed'])
      weather_dict['wind_deg'].append(i['wind']['deg'])
      weather_dict['humidity'].append(i['main']['humidity'])
      weather_dict['pressure'].append(i['main']['pressure'])
      weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

  return pd.DataFrame(weather_dict)

In [7]:
get_weather_loop(['Berlin', 'London'])

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,2022-12-10 15:00:00,Clouds,overcast clouds,-0.74,-3.17,98,0,0,1.89,31,89,1004,10/12/2022 13:51:13
1,Berlin,DE,2022-12-10 18:00:00,Clouds,overcast clouds,-1.38,-4.27,97,0,0,2.16,26,88,1008,10/12/2022 13:51:13
2,Berlin,DE,2022-12-10 21:00:00,Clouds,overcast clouds,-2.37,-5.26,89,0,0,2.03,28,88,1012,10/12/2022 13:51:13
3,Berlin,DE,2022-12-11 00:00:00,Clouds,overcast clouds,-2.64,-5.65,89,0,0,2.09,24,87,1012,10/12/2022 13:51:13
4,Berlin,DE,2022-12-11 03:00:00,Clouds,broken clouds,-3.22,-6.45,83,0,0,2.18,16,86,1012,10/12/2022 13:51:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,London,GB,2022-12-15 00:00:00,Clear,clear sky,1.15,-2.02,0,0,0,2.89,19,67,1012,10/12/2022 13:51:13
76,London,GB,2022-12-15 03:00:00,Clear,clear sky,0.11,-2.58,4,0,0,2.21,355,77,1013,10/12/2022 13:51:13
77,London,GB,2022-12-15 06:00:00,Clear,clear sky,0.05,-3.23,5,0,0,2.77,9,83,1014,10/12/2022 13:51:13
78,London,GB,2022-12-15 09:00:00,Clouds,few clouds,0.61,-2.02,13,0,0,2.24,7,85,1017,10/12/2022 13:51:13
79,London,GB,2022-12-15 12:00:00,Clear,clear sky,3.01,-0.02,7,0,0,3.18,10,60,1018,10/12/2022 13:51:13

# Solution using `.json_normalize()`

**First** we need to make an API call to get our information

In [8]:
city = 'Berlin'
API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'
url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric") 
response = requests.get(url)
json = response.json()

If we now try to use `.json_normalize()` on the `list` part of the json, you'll see that json_normalize can get confused when it hits a list instead of a subdictionary. Take a look at the weather column below

In [9]:
pd.DataFrame((json['list'])).head()

,dt,main,weather,clouds,wind,visibility,pop,sys,dt_txt,snow
0,1670684400,"{'temp': -0.74, 'feels_like': -3.17, 'temp_min...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 98},"{'speed': 1.89, 'deg': 31, 'gust': 3.64}",8961,0.0,{'pod': 'n'},2022-12-10 15:00:00,NaN
1,1670695200,"{'temp': -1.38, 'feels_like': -4.27, 'temp_min...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 97},"{'speed': 2.16, 'deg': 26, 'gust': 4.05}",8870,0.0,{'pod': 'n'},2022-12-10 18:00:00,NaN
2,1670706000,"{'temp': -2.37, 'feels_like': -5.26, 'temp_min...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 89},"{'speed': 2.03, 'deg': 28, 'gust': 3.63}",10000,0.0,{'pod': 'n'},2022-12-10 21:00:00,NaN
3,1670716800,"{'temp': -2.64, 'feels_like': -5.65, 'temp_min...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 89},"{'speed': 2.09, 'deg': 24, 'gust': 3.77}",10000,0.0,{'pod': 'n'},2022-12-11 00:00:00,NaN
4,1670727600,"{'temp': -3.22, 'feels_like': -6.45, 'temp_min...","[{'id': 803, 'main': 'Clouds', 'description': ...",{'all': 83},"{'speed': 2.18, 'deg': 16, 'gust': 3.81}",10000,0.0,{'pod': 'n'},2022-12-11 03:00:00,NaN

To fix this we need to flatten the nested list using the parameter `record_path`, and then select the other columns we'd like using the parameter `meta`. At the end of the json_normalize parameters we have `errors='ignore'`, which means that if ever there is a missing value in the JSON, a `NaN` gets inserted into the table. If you'd like more information, please check out the [docs](https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html)

In [10]:
json_norm_df = pd.json_normalize(json['list'], 
                                record_path=['weather'], 
                                meta=['dt_txt', ['main', 'temp'], ['main', 'feels_like'], ['clouds', 'all'], ['rain', '3h'], ['snow', '3h'], ['wind', 'speed'], ['wind', 'deg'], ['main', 'humidity'], ['main', 'pressure']],
                                errors='ignore')

json_norm_df.head()

,id,main,description,icon,dt_txt,main.temp,main.feels_like,clouds.all,rain.3h,snow.3h,wind.speed,wind.deg,main.humidity,main.pressure
0,804,Clouds,overcast clouds,04n,2022-12-10 15:00:00,-0.74,-3.17,98,NaN,NaN,1.89,31,89,1004
1,804,Clouds,overcast clouds,04n,2022-12-10 18:00:00,-1.38,-4.27,97,NaN,NaN,2.16,26,88,1008
2,804,Clouds,overcast clouds,04n,2022-12-10 21:00:00,-2.37,-5.26,89,NaN,NaN,2.03,28,88,1012
3,804,Clouds,overcast clouds,04n,2022-12-11 00:00:00,-2.64,-5.65,89,NaN,NaN,2.09,24,87,1012
4,803,Clouds,broken clouds,04n,2022-12-11 03:00:00,-3.22,-6.45,83,NaN,NaN,2.18,16,86,1012

Now let's tidy this DataFrame up by
- dropping some columns
- renaming some columns
- adding some columns

In [11]:
# drop id and icon
json_norm_df = json_norm_df.drop(columns=['id', 'icon']).copy()

In [12]:
# rename some columns
json_norm_df.rename(columns={'main': 'outlook',
                             'description': 'detailed_outlook',
                             'dt_txt': 'forecast_time',
                             'main.temp': 'temperature',
                             'main.feels_like': 'temperature_feels_like',
                             'clouds.all': 'clouds',
                             'rain.3h': 'rain',
                             'snow.3h': 'snow',
                             'wind.speed': 'wind_speed',
                             'wind.deg': 'wind_deg',
                             'main.humidity': 'humidity',
                             'main.pressure': 'pressure',},
                    inplace=True)

In [13]:
# add some columns
json_norm_df.insert(0, 'city', json['city']['name'])
json_norm_df.insert(1, 'country', json['city']['country'])
#json_norm_df['information_retrieved_at'] = now.strftime("%d/%m/%Y %H:%M:%S")

# rearrange the columns
json_norm_df = json_norm_df[['city', 'country', 'forecast_time', 'outlook', 'detailed_outlook',
       'temperature', 'temperature_feels_like', 'clouds', 'rain', 'snow',
       'wind_speed', 'wind_deg', 'humidity', 'pressure',
       'information_retrieved_at']]

json_norm_df.head()

KeyError: "['information_retrieved_at'] not in index"

Now we have a very similar DataFrame to what we had with the for loop. Again, let's put this in a function that can take a list of cities

In [ ]:
def get_weather_norm(cities):
  
  API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'

  df_list = []

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric") 
    response = requests.get(url)
    json = response.json()

    json_norm_df = pd.json_normalize(json['list'], 
                                record_path=['weather'], 
                                meta=['dt_txt', ['main', 'temp'], ['main', 'feels_like'], ['clouds', 'all'], ['rain', '3h'], ['snow', '3h'], ['wind', 'speed'], ['wind', 'deg'], ['main', 'humidity'], ['main', 'pressure']], 
                                errors='ignore')
    json_norm_df.drop(columns=['id', 'icon'], inplace=True)
    json_norm_df.rename(columns={'main': 'outlook',
                             'description': 'detailed_outlook',
                             'dt_txt': 'forecast_time',
                             'main.temp': 'temperature',
                             'main.feels_like': 'temperature_feels_like',
                             'clouds.all': 'clouds',
                             'rain.3h': 'rain',
                             'snow.3h': 'snow',
                             'wind.speed': 'wind_speed',
                             'wind.deg': 'wind_deg',
                             'main.humidity': 'humidity',
                             'main.pressure': 'pressure',},
                    inplace=True)
    json_norm_df.insert(0, 'city', json['city']['name'])
    json_norm_df.insert(1, 'country', json['city']['country'])
    json_norm_df['information_retrieved_at'] = now.strftime("%d/%m/%Y %H:%M:%S")
    json_norm_df[['city', 'country', 'forecast_time', 'outlook', 'detailed_outlook',
          'temperature', 'temperature_feels_like', 'clouds', 'rain', 'snow',
          'wind_speed', 'wind_deg', 'humidity', 'pressure',
          'information_retrieved_at']]
    df_list.append(json_norm_df)
  return pd.concat(df_list, ignore_index=True)

In [ ]:
get_weather_norm(['Berlin', 'London'])

### 1. CREATE TABLE IN MYSQL
### 2. Push the weather data extractecd from weather API into mysql table 
### 3. Test and check your table that the results are there