We've included 2 solutions here. There are also many other ways of formatting this data. Don't wory if you haven't done it exactly like we have.... this is just guide and not a bible.

In [1]:
import pandas as pd
import requests
from datetime import datetime
import pytz

# Solution using a for loop

First we need to take a look at the JSON so we know what we're dealing with.
- We can view what the JSON contains by checking out the [documentation on the OWM website](https://openweathermap.org/forecast5)
- Or this can be done manually, like below:

In [2]:
city = 'Berlin'
API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'

# check out the docs for more info on making an api call https://openweathermap.org/forecast5
url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")

response = requests.get(url)
json = response.json()

#json

Now we've discovered what information we have to work with. Let's decide what we want to keep and what we wish to lose.

I feel that from json['list'] it would be good to keep
- 'weather.main', 'weather.description', 'dt_txt', 'main.temp', 'main.feels_like' 'clouds.all', 'rain.3h', 'snow.3h' 'wind.speed', 'wind.deg', 'main.humidity', 'main.pressure'. 

And from json['city'] it would be good to keep 
- 'name' and 'country. 

Just to make sure that we got the right place. And as an added extra we'll also include the time that API call was made, so we know how up to date our forecast is.

**Optional:** let's get a timestamp of when we get the data. Datetime uses the uses the current time of the system, which on local computers is normally correct. But as we're in the cloud, computers are not always in our country, and we therefore add on the timezone module to ensure that our timestamp is local to us and not the computer.

In [3]:
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

now

datetime.datetime(2022, 12, 12, 17, 46, 20, 787842, tzinfo=<DstTzInfo 'Europe/Berlin' CET+1:00:00 STD>)

**Next** let's loop through the json['list'] information get the weather information

In [4]:
# we'll store the information in this dicitonary:
weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': []}
                #'information_retrieved_at': []}

# let's begin the loop
for i in json['list']:
  weather_dict['city'].append(json['city']['name'])
  weather_dict['country'].append(json['city']['country'])
  weather_dict['forecast_time'].append(i['dt_txt'])
  weather_dict['outlook'].append(i['weather'][0]['main'])
  weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
  weather_dict['temperature'].append(i['main']['temp'])
  weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
  weather_dict['clouds'].append(i['clouds']['all'])
  # sometimes the data is missing for rain and snow. As it is not always raining or snowing
  # we cannot make a DataFrame unless the lists are all the same length, therefore missing values are bad
  # here we say try to append a value if there is one. If not, append a 0
  try:
      weather_dict['rain'].append(i['rain']['3h'])
  except:
      weather_dict['rain'].append('0')
  try:
      weather_dict['snow'].append(i['snow']['3h'])
  except:
      weather_dict['snow'].append('0')
  weather_dict['wind_speed'].append(i['wind']['speed'])
  weather_dict['wind_deg'].append(i['wind']['deg'])
  weather_dict['humidity'].append(i['main']['humidity'])
  weather_dict['pressure'].append(i['main']['pressure'])
  #weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

**Now** we convert our dictionary to a DataFrame

In [5]:
weather_from_dict_df = pd.DataFrame(weather_dict)

weather_from_dict_df.head()

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure
0,Berlin,DE,2022-12-12 18:00:00,Clouds,overcast clouds,-1.46,-5.53,100,0,0,3.31,290,82,1001
1,Berlin,DE,2022-12-12 21:00:00,Clouds,broken clouds,-2.21,-6.21,80,0,0,3.06,282,86,1005
2,Berlin,DE,2022-12-13 00:00:00,Clouds,broken clouds,-3.23,-7.08,51,0,0,2.71,275,89,1009
3,Berlin,DE,2022-12-13 03:00:00,Clouds,broken clouds,-4.42,-8.09,65,0,0,2.36,268,93,1012
4,Berlin,DE,2022-12-13 06:00:00,Clouds,broken clouds,-4.48,-8.04,53,0,0,2.27,260,92,1012

**As a final step**, to keep everything tidy: let's bring everything we did together in a function. And allow the function to take a list of cities as an input

In [6]:
def get_weather_loop(cities):

  API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'

  tz = pytz.timezone('Europe/Berlin')
  now = datetime.now().astimezone(tz)

  weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': [],
                'information_retrieved_at': []}

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()

    for i in json['list']:
      weather_dict['city'].append(json['city']['name'])
      weather_dict['country'].append(json['city']['country'])
      weather_dict['forecast_time'].append(i['dt_txt'])
      weather_dict['outlook'].append(i['weather'][0]['main'])
      weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
      weather_dict['temperature'].append(i['main']['temp'])
      weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
      weather_dict['clouds'].append(i['clouds']['all'])
      try:
          weather_dict['rain'].append(i['rain']['3h'])
      except:
          weather_dict['rain'].append('0')
      try:
          weather_dict['snow'].append(i['snow']['3h'])
      except:
          weather_dict['snow'].append('0')
      weather_dict['wind_speed'].append(i['wind']['speed'])
      weather_dict['wind_deg'].append(i['wind']['deg'])
      weather_dict['humidity'].append(i['main']['humidity'])
      weather_dict['pressure'].append(i['main']['pressure'])
      weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

  return pd.DataFrame(weather_dict)

In [7]:
get_weather_loop(['Berlin', 'London'])

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,2022-12-12 18:00:00,Clouds,overcast clouds,-1.46,-5.53,100,0,0,3.31,290,82,1001,12/12/2022 17:46:20
1,Berlin,DE,2022-12-12 21:00:00,Clouds,broken clouds,-2.21,-6.21,80,0,0,3.06,282,86,1005,12/12/2022 17:46:20
2,Berlin,DE,2022-12-13 00:00:00,Clouds,broken clouds,-3.23,-7.08,51,0,0,2.71,275,89,1009,12/12/2022 17:46:20
3,Berlin,DE,2022-12-13 03:00:00,Clouds,broken clouds,-4.42,-8.09,65,0,0,2.36,268,93,1012,12/12/2022 17:46:20
4,Berlin,DE,2022-12-13 06:00:00,Clouds,broken clouds,-4.48,-8.04,53,0,0,2.27,260,92,1012,12/12/2022 17:46:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,London,GB,2022-12-17 03:00:00,Clouds,overcast clouds,-0.01,-0.01,100,0,0,1.26,221,78,1021,12/12/2022 17:46:20
76,London,GB,2022-12-17 06:00:00,Clouds,overcast clouds,0.27,-1.20,100,0,0,1.35,214,78,1021,12/12/2022 17:46:20
77,London,GB,2022-12-17 09:00:00,Clouds,overcast clouds,0.67,0.67,100,0,0,1.22,199,89,1023,12/12/2022 17:46:20
78,London,GB,2022-12-17 12:00:00,Clouds,overcast clouds,1.78,1.78,99,0,0,0.98,194,87,1022,12/12/2022 17:46:20
79,London,GB,2022-12-17 15:00:00,Clouds,overcast clouds,1.58,1.58,96,0,0,1.07,172,92,1022,12/12/2022 17:46:20

In [8]:
def get_weather_norm(cities):
  
  API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'

  df_list = []

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric") 
    response = requests.get(url)
    json = response.json()

    json_norm_df = pd.json_normalize(json['list'], 
                                record_path=['weather'], 
                                meta=['dt_txt', ['main', 'temp'], ['main', 'feels_like'], ['clouds', 'all'], ['rain', '3h'], ['snow', '3h'], ['wind', 'speed'], ['wind', 'deg'], ['main', 'humidity'], ['main', 'pressure']], 
                                errors='ignore')
    json_norm_df.drop(columns=['id', 'icon'], inplace=True)
    json_norm_df.rename(columns={'main': 'outlook',
                             'description': 'detailed_outlook',
                             'dt_txt': 'forecast_time',
                             'main.temp': 'temperature',
                             'main.feels_like': 'temperature_feels_like',
                             'clouds.all': 'clouds',
                             'rain.3h': 'rain',
                             'snow.3h': 'snow',
                             'wind.speed': 'wind_speed',
                             'wind.deg': 'wind_deg',
                             'main.humidity': 'humidity',
                             'main.pressure': 'pressure',},
                    inplace=True)
    json_norm_df.insert(0, 'city', json['city']['name'])
    json_norm_df.insert(1, 'country', json['city']['country'])
    json_norm_df['information_retrieved_at'] = now.strftime("%d/%m/%Y %H:%M:%S")
    json_norm_df[['city', 'country', 'forecast_time', 'outlook', 'detailed_outlook',
          'temperature', 'temperature_feels_like', 'clouds', 'rain', 'snow',
          'wind_speed', 'wind_deg', 'humidity', 'pressure',
          'information_retrieved_at']]
    df_list.append(json_norm_df)
  return pd.concat(df_list, ignore_index=True)

In [9]:
get_weather_norm(['Berlin', 'London'])

,city,country,outlook,detailed_outlook,forecast_time,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,Clouds,overcast clouds,2022-12-12 18:00:00,-1.46,-5.53,100,NaN,NaN,3.31,290,82,1001,12/12/2022 17:46:20
1,Berlin,DE,Clouds,broken clouds,2022-12-12 21:00:00,-2.21,-6.21,80,NaN,NaN,3.06,282,86,1005,12/12/2022 17:46:20
2,Berlin,DE,Clouds,broken clouds,2022-12-13 00:00:00,-3.23,-7.08,51,NaN,NaN,2.71,275,89,1009,12/12/2022 17:46:20
3,Berlin,DE,Clouds,broken clouds,2022-12-13 03:00:00,-4.42,-8.09,65,NaN,NaN,2.36,268,93,1012,12/12/2022 17:46:20
4,Berlin,DE,Clouds,broken clouds,2022-12-13 06:00:00,-4.48,-8.04,53,NaN,NaN,2.27,260,92,1012,12/12/2022 17:46:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,London,GB,Clouds,overcast clouds,2022-12-17 03:00:00,-0.01,-0.01,100,NaN,NaN,1.26,221,78,1021,12/12/2022 17:46:20
76,London,GB,Clouds,overcast clouds,2022-12-17 06:00:00,0.27,-1.2,100,NaN,NaN,1.35,214,78,1021,12/12/2022 17:46:20
77,London,GB,Clouds,overcast clouds,2022-12-17 09:00:00,0.67,0.67,100,NaN,NaN,1.22,199,89,1023,12/12/2022 17:46:20
78,London,GB,Clouds,overcast clouds,2022-12-17 12:00:00,1.78,1.78,99,NaN,NaN,0.98,194,87,1022,12/12/2022 17:46:20
79,London,GB,Clouds,overcast clouds,2022-12-17 15:00:00,1.58,1.58,96,NaN,NaN,1.07,172,92,1022,12/12/2022 17:46:20

### 1. CREATE TABLE IN MYSQL
### 2. Push the weather data extractecd from weather API into mysql table 
### 3. Test and check your table that the results are there

# Solution 1

## First create the table in mysql once you are sure about the fields you need from parsed weather API

In [10]:
''' 
 USE collected_data;
 
 CREATE TABLE `weather_city` (
  `id` int AUTO_INCREMENT,
  `city` text,
  `country` text,
  `forecast_time` text,
  `outlook` text,
  `detailed_outlook` text,
  `temperature` text,
  `temperature_feels_like` text,
  `clouds` text,
  `rain` text,
  `snow` text,
  `wind_speed` text,
  `wind_deg` text,
  `humidity` text,
  `pressure` text,
  `information_retrieved_at` text,
  PRIMARY KEY (`id`)
 )
 '''

' \n USE collected_data;\n \n CREATE TABLE `weather_city` (\n  `id` int AUTO_INCREMENT,\n  `city` text,\n  `country` text,\n  `forecast_time` text,\n  `outlook` text,\n  `detailed_outlook` text,\n  `temperature` text,\n  `temperature_feels_like` text,\n  `clouds` text,\n  `rain` text,\n  `snow` text,\n  `wind_speed` text,\n  `wind_deg` text,\n  `humidity` text,\n  `pressure` text,\n  `information_retrieved_at` text,\n  PRIMARY KEY (`id`)\n )\n '

In [11]:
import mysql.connector
# define connection details
cnx = mysql.connector.connect(
    user='root',
    password='root', #type your root password here
    host='127.0.0.1', # to connect to your local instance
    database='collected_data' #type the name of the database you want to use here
)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:

API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b'
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

cursor = cnx.cursor()

cities = ['Berlin', 'Frankfurt']
for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()

    for i in json['list']:
        
        
        city = json['city']['name']
        country = json['city']['country']
        forecast_time = i['dt_txt']
        outlook = i['weather'][0]['main']
        detailed_outlook = i['weather'][0]['description']
        temperature = i['main']['temp']
        temperature_feels_like =  i['main']['feels_like']
        clouds= i['clouds']['all']
        rain = '0'
        snow = '0'
        try:
            rain = i['rain']['3h']
        except:
            rain = '0'
        try:
            snow = i['snow']['3h']
        except:
            snow = '0'
            
        wind_speed = i['wind']['speed']
        wind_deg = i['wind']['deg']
        humidity = i['main']['humidity']
        pressure = i['main']['pressure']
        information_retrieved_at = now.strftime("%d/%m/%Y %H:%M:%S")
        
        
        data_to_insert = (
                          city, 
                          country, 
                          forecast_time, 
                          outlook, 
                          detailed_outlook,
                          temperature, 
                          temperature_feels_like, 
                          rain, 
                          snow, 
                          wind_speed,
                          wind_deg, 
                          humidity, 
                          pressure, 
                          information_retrieved_at
                         )
    
        query = """
                INSERT INTO weather_city (
                          city, 
                          country, 
                          forecast_time, 
                          outlook, 
                          detailed_outlook,
                          temperature, 
                          temperature_feels_like, 
                          rain, 
                          snow, 
                          wind_speed,
                          wind_deg, 
                          humidity, 
                          pressure, 
                          information_retrieved_at)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s);
                """


        cursor.execute(query, data_to_insert)


        cnx.commit()

In [ ]:
#these need to be done only once for example if you have a loop these must after the loop
cursor.close()
cnx.close()

# Solution 2

In [ ]:
API_key = '4fe53ee5e34a7d900ed58bd74bbbb0b7'
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': [],
                'information_retrieved_at': []}

cities = ['Berlin', 'Frankfurt']
for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()

    for i in json['list']:
      weather_dict['city'].append(json['city']['name'])
      weather_dict['country'].append(json['city']['country'])
      weather_dict['forecast_time'].append(i['dt_txt'])
      weather_dict['outlook'].append(i['weather'][0]['main'])
      weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
      weather_dict['temperature'].append(i['main']['temp'])
      weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
      weather_dict['clouds'].append(i['clouds']['all'])
      try:
          weather_dict['rain'].append(i['rain']['3h'])
      except:
          weather_dict['rain'].append('0')
      try:
          weather_dict['snow'].append(i['snow']['3h'])
      except:
          weather_dict['snow'].append('0')
      weather_dict['wind_speed'].append(i['wind']['speed'])
      weather_dict['wind_deg'].append(i['wind']['deg'])
      weather_dict['humidity'].append(i['main']['humidity'])
      weather_dict['pressure'].append(i['main']['pressure'])
      weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

In [ ]:
df = pd.DataFrame(weather_dict)

In [ ]:
df

In [ ]:
from sqlalchemy import create_engine
import pymysql

In [ ]:
database = 'collected_data'

username = 'root'

password = 'root'

sqlEngine       = create_engine(f'mysql+pymysql://{username}:{password}@127.0.0.1/{database}', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

tableName = 'weather_city'

try:

    frame = df.to_sql(tableName, dbConnection, if_exists='append', index = False);

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("The data was pushed sucessfully to Table %s."%tableName);   

finally:

    dbConnection.close()