In [2]:
import pandas as pd
!pip install mysql-connector-python
import requests
import mysql.connector

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [12]:
import requests
from bs4 import BeautifulSoup

def get_html_wiki_text_label(keyword, location):
    response = requests.get(f'https://en.wikipedia.org/wiki/{location}')
    soup = BeautifulSoup(response.content, 'html.parser')
    i = 0
    for item in soup.select("th.infobox-label"):
        if(keyword in item.get_text()):
            if('km2' not in soup.select('td.infobox-data')[i].get_text()): 
              return soup.select("td.infobox-data")[i].get_text()
        i = i+1

In [13]:
print(get_html_wiki_text_label('Country', 'Berlin'))
print(get_html_wiki_text_label('State', 'Berlin'))
print(get_html_wiki_text_label('City/State', 'Berlin'))
print(get_html_wiki_text_label('Urban', 'Berlin'))
print(get_html_wiki_text_label('Metro', 'Berlin'))

 Germany
Berlin
3,677,472
4,473,101
6,144,600

In [14]:
# define connection details
cnx = mysql.connector.connect(
    user='root',
    password='Hoopii123', #type your root password here
    host='127.0.0.1', # to connect to your local instance
    database='collected_data' #type the name of the database you want to use here
)

In [15]:
# push data in mysql-table: 
target_cities = ['Berlin', 'Frankfurt', 'Hamburg', 'Paris', 'Brussels', 'Moscow', 'Stockholm', 'Madrid', 'Barcelona']
for city in target_cities:
    id = 0
    city = city
    country = get_html_wiki_text_label('Country', city)
    state = get_html_wiki_text_label('State', city)
    pop_city_state = get_html_wiki_text_label('City/State', city)
    pop_urban = get_html_wiki_text_label('Urban', city)
    pop_metro = get_html_wiki_text_label('Metro', city)
    
    data_to_push = (id, city, country, state, pop_city_state, pop_urban, pop_metro)
    
    cursor = cnx.cursor()
    query = """
    INSERT INTO wiki_scrape (id, city, country, state, pop_city_state, pop_urban, pop_metro)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
    """
    cursor.execute(query, data_to_push)
    cnx.commit()

In [16]:
#these need to be done only once for example if you have a loop these must after the loop
cursor.close()
cnx.close()

In [8]:
#  solution where we first prepare pandas_df and push data from here : 
target_cities_df = ['Berlin', 'Frankfurt', 'Hamburg', 'Paris', 'Brussels', 'Moscow', 'Stockholm', 'Madrid', 'Barcelona']
Countries = []
States = []
City_State = []
Urban = []
Metro = []
id = []
for city in target_cities_df:
    id = 0
    Countries.append(get_html_wiki_text_label('Country', city))
    States.append(get_html_wiki_text_label('State', city))
    City_State.append(get_html_wiki_text_label('City/State', city))
    Urban.append(get_html_wiki_text_label('Urban', city))
    Metro.append(get_html_wiki_text_label('Metro', city))

In [10]:
df = pd.DataFrame({
'id' : id, 
'city' : target_cities,
'country' : Countries,
'state': States,
'pop_city_state': City_State,
'pop_urban': Urban,
'pop_metro': Metro    
}
)
df

   id       city   country   state pop_city_state     pop_urban     pop_metro
0   0     Berlin   Germany  Berlin      3,677,472     4,473,101     6,144,600
1   0  Frankfurt   Germany   Hesse           None  2,319,029[3]  5,604,523[2]
2   0    Hamburg   Germany    None           None  2,484,800[1]     5,107,429
3   0      Paris    France    None           None    10,858,852    13,024,518
4   0   Brussels   Belgium    None           None          None     2,500,000
5   0     Moscow    Russia    None           None          None    20,004,462
6   0  Stockholm    Sweden    None           None     1,611,776     2,415,139
7   0     Madrid     Spain    None           None  6,211,000[2]  6,791,667[1]
8   0  Barcelona     Spain    None           None  4,840,000[3]  5,474,482[4]

In [11]:
# push with pandas: 
from sqlalchemy import create_engine
!pip install PyMySQL
import pymysql

tableName = 'wiki_sqlalchemy'
database = 'collected_data'
username = 'root'
password = 'put your password here'
sqlEngine       = create_engine(f'mysql+pymysql://{username}:{password}@127.0.0.1/{database}', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

df.to_sql(tableName, dbConnection, if_exists='append', index=False)
dbConnection.close()

Requirement already satisfied: PyMySQL in c:\users\user\anaconda3\lib\site-packages (1.0.2)