In [106]:
import pandas as pd
from datetime import datetime
import pytz
import requests

In [107]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"Berlin","limit":"10"}

headers = {
	"X-RapidAPI-Key": "41ff370a44mshbe20330f78fd706p154d9ajsnaa91e9e7fba0",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"items":[{"icao":"EDDB","iata":"BER","name":"Berlin, Berlin Brandenburg","shortName":"Brandenburg","municipalityName":"Berlin","location":{"lat":52.35139,"lon":13.493889},"countryCode":"DE"},{"icao":"EDDT","iata":"TXL","name":"Berlin, Berlin-Tegel","shortName":"-Tegel","municipalityName":"Berlin","location":{"lat":52.5597,"lon":13.287699},"countryCode":"DE"},{"icao":"KBML","iata":"BML","name":"Berlin, Berlin Regional","shortName":"Regional","municipalityName":"Berlin","location":{"lat":44.5754,"lon":-71.1759},"countryCode":"US"}]}

In [120]:
json = response.json()
json

{'message': 'You have exceeded the MONTHLY quota for Tier 2 on your current plan, BASIC. Upgrade your plan at https://rapidapi.com/aedbx-aedbx/api/aerodatabox'}

In [109]:
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

now

datetime.datetime(2022, 8, 20, 14, 31, 30, 580363, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>)

In [110]:
flights_dict = {'icao' : [],
                'name': [],
                'iata': [],
                'municipalityName': [],
                'location_lat': [],
                'location_lon': [],
                'Countrycode': [],
                'information_retrieved_at': []}

In [111]:
for i in json['items']:
  flights_dict['icao'].append(i['icao'])
  flights_dict['iata'].append(i['iata'])
  flights_dict['name'].append(i['name'])
  flights_dict['municipalityName'].append(i['municipalityName'])
  flights_dict['location_lat'].append(i['location']['lat'])
  flights_dict['location_lon'].append(i['location']['lon'])
  flights_dict['Countrycode'].append(i['countryCode'])
  flights_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))
  
  #flights_dict['outlook'].append(i['weather'][0]['main'])
  #weather_dict['temperature'].append(i['main']['temp'])
  #weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
  #weather_dict['clouds'].append(i['clouds']['all'])

In [112]:
flights_df = pd.DataFrame(flights_dict)
flights_df

,icao,name,iata,municipalityName,location_lat,location_lon,Countrycode,information_retrieved_at
0,EDDB,"Berlin, Berlin Brandenburg",BER,Berlin,52.35139,13.493889,DE,20/08/2022 14:31:30
1,EDDT,"Berlin, Berlin-Tegel",TXL,Berlin,52.55970,13.287699,DE,20/08/2022 14:31:30
2,KBML,"Berlin, Berlin Regional",BML,Berlin,44.57540,-71.175900,US,20/08/2022 14:31:30

In [113]:
# bonus: directly use pandas: 
from sqlalchemy import create_engine
!pip install PyMySQL
import pymysql

database = 'collected_data'
username = 'root'
password = 'Hoopii123'
sqlEngine       = create_engine(f'mysql+pymysql://{username}:{password}@127.0.0.1/{database}', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

flights_df.to_sql('flights_airports', dbConnection, if_exists='append', index=False)

Requirement already satisfied: PyMySQL in c:\users\user\anaconda3\lib\site-packages (1.0.2)

In [114]:
dbConnection.close()

In [115]:
# pushing flights arrivals data:

In [116]:
url = "https://aerodatabox.p.rapidapi.com/flights/airports/icao/EHAM/2022-08-15T08:00/2022-08-15T20:00"

querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"true","withCodeshared":"true","withCargo":"true","withPrivate":"true","withLocation":"false"}

headers = {
	"X-RapidAPI-Key": "41ff370a44mshbe20330f78fd706p154d9ajsnaa91e9e7fba0",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

In [119]:
df_json_normalize = pd.json_normalize(json['arrivals'])
df_json_normalize = df_json_normalize.drop(columns=['departure.quality', 'aircraft.modeS', 
                                                    'departure.scheduledTimeLocal', 'departure.actualTimeLocal', 'departure.scheduledTimeUtc', 
                                                    'departure.actualTimeUtc', 'departure.terminal', 'departure.checkInDesk', 'departure.gate', 'departure.runwayTimeLocal', 'departure.runwayTimeUtc']).copy()
df_json_normalize

KeyError: 'arrivals'

In [ ]:
import datetime

tz = pytz.timezone('Europe/Berlin')
now = datetime.datetime.now().astimezone(tz)
tomorrow_first = now + datetime.timedelta(days = 1)
tomorrow_first = tomorrow_first.strftime("%Y-%m-%dT08:00")
tomorrow_second = now + datetime.timedelta(days = 1)
tomorrow_second = tomorrow_second.strftime("%Y-%m-%dT20:00")
tomorrow_first

In [ ]:
list_of_icaos = ['EDDL', 'EDDF', 'EDDB', 'EDDT', 'EDDM']
list_for_df_3 = []
def arrivals (list_of_icaos):
  list_for_df_3 = []
  for icao in list_of_icaos: 
    url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow_first}/{tomorrow_second}"
    querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"true","withCodeshared":"true","withCargo":"true","withPrivate":"true","withLocation":"false"}
    headers = {
	    "X-RapidAPI-Key": "41ff370a44mshbe20330f78fd706p154d9ajsnaa91e9e7fba0",
	    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
              }
    response = requests.request("GET", url, headers=headers, params=querystring)
    json = response.json()
    json_norm_df = pd.json_normalize(json['arrivals'])
    json_norm_df['information_retrieved_at'] = now.strftime("%d/%m/%Y %H:%M:%S")
    json_norm_df['icao'] = f'{icao}'
    list_for_df_2.append(json_norm_df)
  json_norm_df = pd.json_normalize(json['arrivals'])
  return pd.concat(list_for_df_3, ignore_index=True).drop(columns=['departure_quality', 'aircraft_mode', 
                                                    'departure_scheduledTimeLocal', 'departure_actualTimeLocal', 'departure_scheduledTimeUtc', 
                                                    'departure_actualTimeUtc', 'departure_terminal', 'departure_checkInDesk', 'departure_gate', 
                                                    'departure_runwayTimeLocal', 'departure_runwayTimeUtc', 'arrival_baggageBelt', 'aircraft_reg', 'arrival_gate', 'arrival_terminal']).copy()

In [ ]:
arrivals_df = arrivals(list_of_icaos)

In [ ]:
arrivals_df

In [ ]:
arrivals_df.columns = ['number_1', 'callSIgn', 'status_1', 'codeshareStatus', 'isCargo', 'departue_airiport_icao', 
                       'departure_airport_iata','departure_airport_name', 'arrival_scheduledTimeLocal', 
                       'arrival_actualTimeLocal', 'arrival_scheduledTimeUtc', 'arrival_actualTimeUtc', 
                       'arrival_quality', 'aircraft_model', 'airline_name', 'information_retrieved_at', 'icao'
                      ]

In [ ]:
arrivals_df

In [ ]:
from sqlalchemy import create_engine
!pip install PyMySQL
import pymysql

database = 'collected_data'
username = 'root'
password = 'Hoopii123'
sqlEngine       = create_engine(f'mysql+pymysql://{username}:{password}@127.0.0.1/{database}', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

arrivals_df.to_sql('flights_arrivals', dbConnection, if_exists='append', index=False)

In [ ]:
dbConnection.close()