In [58]:
import pandas as pd
from datetime import datetime
import pytz
import requests

In [59]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"Berlin","limit":"10"}

headers = {
	"X-RapidAPI-Key": "41ff370a44mshbe20330f78fd706p154d9ajsnaa91e9e7fba0",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"items":[{"icao":"EDDB","iata":"BER","name":"Berlin, Berlin Brandenburg","shortName":"Brandenburg","municipalityName":"Berlin","location":{"lat":52.35139,"lon":13.493889},"countryCode":"DE"},{"icao":"EDDT","iata":"TXL","name":"Berlin, Berlin-Tegel","shortName":"-Tegel","municipalityName":"Berlin","location":{"lat":52.5597,"lon":13.287699},"countryCode":"DE"},{"icao":"KBML","iata":"BML","name":"Berlin, Berlin Regional","shortName":"Regional","municipalityName":"Berlin","location":{"lat":44.5754,"lon":-71.1759},"countryCode":"US"}]}

In [60]:
json = response.json()
json

{'items': [{'icao': 'EDDB',
   'iata': 'BER',
   'name': 'Berlin, Berlin Brandenburg',
   'shortName': 'Brandenburg',
   'municipalityName': 'Berlin',
   'location': {'lat': 52.35139, 'lon': 13.493889},
   'countryCode': 'DE'},
  {'icao': 'EDDT',
   'iata': 'TXL',
   'name': 'Berlin, Berlin-Tegel',
   'shortName': '-Tegel',
   'municipalityName': 'Berlin',
   'location': {'lat': 52.5597, 'lon': 13.287699},
   'countryCode': 'DE'},
  {'icao': 'KBML',
   'iata': 'BML',
   'name': 'Berlin, Berlin Regional',
   'shortName': 'Regional',
   'municipalityName': 'Berlin',
   'location': {'lat': 44.5754, 'lon': -71.1759},
   'countryCode': 'US'}]}

In [61]:
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

now

datetime.datetime(2022, 12, 10, 14, 22, 21, 477621, tzinfo=<DstTzInfo 'Europe/Berlin' CET+1:00:00 STD>)

In [62]:
flights_dict = {'icao' : [],
                'name': [],
                'iata': [],
                'municipalityName': [],
                'location_lat': [],
                'location_lon': [],
                'Countrycode': [],
                'information_retrieved_at': []}

In [63]:
for i in json['items']:
  flights_dict['icao'].append(i['icao'])
  flights_dict['iata'].append(i['iata'])
  flights_dict['name'].append(i['name'])
  flights_dict['municipalityName'].append(i['municipalityName'])
  flights_dict['location_lat'].append(i['location']['lat'])
  flights_dict['location_lon'].append(i['location']['lon'])
  flights_dict['Countrycode'].append(i['countryCode'])
  flights_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))
  
  #flights_dict['outlook'].append(i['weather'][0]['main'])
  #weather_dict['temperature'].append(i['main']['temp'])
  #weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
  #weather_dict['clouds'].append(i['clouds']['all'])

In [64]:
flights_df = pd.DataFrame(flights_dict)
flights_df

,icao,name,iata,municipalityName,location_lat,location_lon,Countrycode,information_retrieved_at
0,EDDB,"Berlin, Berlin Brandenburg",BER,Berlin,52.35139,13.493889,DE,10/12/2022 14:22:21
1,EDDT,"Berlin, Berlin-Tegel",TXL,Berlin,52.55970,13.287699,DE,10/12/2022 14:22:21
2,KBML,"Berlin, Berlin Regional",BML,Berlin,44.57540,-71.175900,US,10/12/2022 14:22:21

In [65]:
# bonus: directly use pandas: 
from sqlalchemy import create_engine
!pip install PyMySQL
import pymysql

database = 'collected_data'
username = 'root'
password = '{put your password here}'
sqlEngine       = create_engine(f'mysql+pymysql://{username}:{password}@127.0.0.1/{database}', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

flights_df.to_sql('flights_airports', dbConnection, if_exists='append', index=False)

Requirement already satisfied: PyMySQL in c:\users\user\anaconda3\lib\site-packages (1.0.2)

3

In [66]:
dbConnection.close()

In [67]:
# pushing flights arrivals data:

In [68]:
from datetime import datetime, date, timedelta
from pytz import timezone
import requests

In [69]:
def arrivals(icao_list):
    tz = pytz.timezone('Europe/Berlin')
    today = datetime.now().astimezone(tz).date()
    times = [["00:00","11:59"],["12:00","23:59"]]
    tomorrow = (today + timedelta(days=1))
    
    list_for_df = []

    for icao in icao_list:
        for time in times:
            url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow}T{time[0]}/{tomorrow}T{time[1]}"
            querystring = {
              "withLeg":"true",
              "direction":"Arrival",
              "withCancelled":"false",
              "withCodeshared":"true",
              "withCargo":"false",
              "withPrivate":"false"
                  }
            headers = {
              'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
              'x-rapidapi-key': "41ff370a44mshbe20330f78fd706p154d9ajsnaa91e9e7fba0"
                  }
            response = requests.request("GET", url, headers=headers, params=querystring)
            flights_json = response.json() 
            flights_dict = {}  
      
            for flight in response.json()['arrivals']:
                flights_dict['arrival_icao'] = icao
                flights_dict['arrival_time_local'] = flight['arrival'].get('scheduledTimeLocal', None)
                flights_dict['arrival_terminal'] = flight['arrival'].get('terminal', None)
                flights_dict['departure_city'] = flight['departure']['airport'].get('name', None)
                flights_dict['departure_icao'] = flight['departure']['airport'].get('icao', None)
                flights_dict['departure_time_local'] = flight['departure'].get('scheduledTimeLocal', None)
                flights_dict['airline'] = flight['airline'].get('name', None)
                flights_dict['flight_number'] = flight.get('number', None)
                flights_dict['data_retrieved_on'] = datetime.now().astimezone(tz).date()
                list_for_df.append(flights_dict)
    return pd.DataFrame(list_for_df)

In [70]:
icaos = ['EDDL', 'EGLL']

In [71]:
arrivals_df = arrivals(icaos)

In [72]:
arrivals_df

,arrival_icao,arrival_time_local,arrival_terminal,departure_city,departure_icao,departure_time_local,airline,flight_number,data_retrieved_on
0,EDDL,2022-12-11 11:20+01:00,B,Madrid,LEMD,2022-12-11 08:40+01:00,Iberia,IB 3140,2022-12-10
1,EDDL,2022-12-11 11:20+01:00,B,Madrid,LEMD,2022-12-11 08:40+01:00,Iberia,IB 3140,2022-12-10
2,EDDL,2022-12-11 11:20+01:00,B,Madrid,LEMD,2022-12-11 08:40+01:00,Iberia,IB 3140,2022-12-10
3,EDDL,2022-12-11 11:20+01:00,B,Madrid,LEMD,2022-12-11 08:40+01:00,Iberia,IB 3140,2022-12-10
4,EDDL,2022-12-11 11:20+01:00,B,Madrid,LEMD,2022-12-11 08:40+01:00,Iberia,IB 3140,2022-12-10
...,...,...,...,...,...,...,...,...,...
2098,EGLL,2022-12-11 22:40+00:00,2,Lisbon,LPPT,2022-12-11 19:50+00:00,Azores,S4 8620,2022-12-10
2099,EGLL,2022-12-11 22:40+00:00,2,Lisbon,LPPT,2022-12-11 19:50+00:00,Azores,S4 8620,2022-12-10
2100,EGLL,2022-12-11 22:40+00:00,2,Lisbon,LPPT,2022-12-11 19:50+00:00,Azores,S4 8620,2022-12-10
2101,EGLL,2022-12-11 22:40+00:00,2,Lisbon,LPPT,2022-12-11 19:50+00:00,Azores,S4 8620,2022-12-10
2102,EGLL,2022-12-11 22:40+00:00,2,Lisbon,LPPT,2022-12-11 19:50+00:00,Azores,S4 8620,2022-12-10

In [74]:
database = 'collected_data'
username = 'root'
password = '{put your password here}'
sqlEngine       = create_engine(f'mysql+pymysql://{username}:{password}@127.0.0.1/{database}', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

arrivals_df.to_sql('flights_arrivals2', dbConnection, if_exists='append', index=False)

2103

In [75]:
dbConnection.close()