### Get the endpoint access and datafrom API
### Get flight information from JSON
### Store the information in dataframe

In [10]:
import requests
import pandas as pd

url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"Berlin","limit":"10"}

headers = {
	"X-RapidAPI-Key": "2037ef4353msh9bcad6131960761p1b2ed3jsn769599df3407",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

a = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"items":[{"icao":"EDDB","iata":"BER","name":"Berlin, Berlin Brandenburg","shortName":"Brandenburg","municipalityName":"Berlin","location":{"lat":52.35139,"lon":13.493889},"countryCode":"DE"},{"icao":"EDDT","iata":"TXL","name":"Berlin, Berlin-Tegel","shortName":"-Tegel","municipalityName":"Berlin","location":{"lat":52.5597,"lon":13.287699},"countryCode":"DE"},{"icao":"KBML","iata":"BML","name":"Berlin, Berlin Regional","shortName":"Regional","municipalityName":"Berlin","location":{"lat":44.5754,"lon":-71.1759},"countryCode":"US"}]}

## Solution 1

In [11]:
pd.json_normalize(response.json()['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,EDDB,BER,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,52.35139,13.493889
1,EDDT,TXL,"Berlin, Berlin-Tegel",-Tegel,Berlin,DE,52.55970,13.287699
2,KBML,BML,"Berlin, Berlin Regional",Regional,Berlin,US,44.57540,-71.175900

## Solution 2

In [5]:
json = response.json()

In [15]:
# let's begin the loop

data = {
    'icao' : [],
    'iata' : [],
    'name' : [],
    'shortName' : [],
    'municipalityName' : [],
    'countryCode' : [],
    'location_lat' : [],
    'location_lon' : []

}
for item in json['items']:
    
    data['icao'].append(item['name'])
    data['iata'].append(item['iata'])
    data['name'].append(item['name'])
    data['shortName'].append(item['shortName'])
    data['municipalityName'].append(item['municipalityName'])
    data['countryCode'].append(item['countryCode'])
    data['location_lat'].append(item['location']['lat'])
    data['location_lon'].append(item['location']['lon'])

In [16]:
pd.DataFrame(data)

,icao,iata,name,shortName,municipalityName,countryCode,location_lat,location_lon
0,"Berlin, Berlin Brandenburg",BER,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,52.35139,13.493889
1,"Berlin, Berlin-Tegel",TXL,"Berlin, Berlin-Tegel",-Tegel,Berlin,DE,52.55970,13.287699
2,"Berlin, Berlin Regional",BML,"Berlin, Berlin Regional",Regional,Berlin,US,44.57540,-71.175900

# Challenge
### 1. Push the weather data extractecd from weather API into mysql table 
### 2. Test and check your table that the results are there